@import '../../styles/variables';
@import '../../styles/mixins';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  color: $foreground-color;
  text-align: center;
  padding: 1.5rem;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;

  @include respond-to('mobile') {
    padding: 1.5rem;
  }
}
